.input {
    display: inline-block;
    
    max-width: 6em;
    
    font-size: .5rem;
    line-height: .6rem;

    padding: .8em;

    color: var(--color-dark-gray);
    background: var(--color-white);

    border: none;
    outline: none;
}
